= form_for @wish do |f|
  -if @wish.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wish.errors.count, "error")} prohibited this wish from being saved:"
      %ul
        - @wish.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :id_teacher
    = f.text_field :id_teacher
  .field
    = f.label :day
    = f.text_field :day
  .field
    = f.label :lesson
    = f.text_field :lesson
  .actions
    = f.submit 'Save'
